        * {
            margin: 0;
        }
        body {
            background-color: rgb(244, 210, 210);
            font-family: Roboto, Arial;
            margin-top: 60px;
        }
        .img {
            width: 280px;
            height: 300px;
            object-fit: cover;
            cursor: pointer;
        }
        .title, .title1 {
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .title1 {
            margin-bottom: 15px;
        }
        .item, .item1 {
            background-color: white;
            display: inline-block;
            padding: 20px 20px 22px 20px;
        }
        .shop {
            color: rgb(33, 98, 161);
            font-size: 13px;
            margin-top: 17px;
            cursor: pointer;
        }
        .shop:hover {
            color: rgb(13, 58, 103);
        }
        .items_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 12px;
            row-gap: 26px;
            margin-bottom: 38px;
        }
        
        .items {
            font-size: 12px;
            cursor: pointer;
        }
        .g_img, .g_img1 {
            display: block;
            width: 130px;
            height: 100px;
            object-fit: cover;
            margin-bottom: 2px;
        }
        .list_grid {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            z-index: 100;
        }
        .g_img1 {
            height: 120px;
        }
        .bottom_page {
            background-color: rgb(19, 26, 34);
            width: 100%;
            height: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 15px;
            padding-top: 10px;
        }
        .b, .c {
            color: white;
            font-size: 12px;
            
            display: inline-block;
            margin-right: 20px;
        }
        .b:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        .privacy {
            margin-bottom: 8px;
        }
        .header {
            display: flex;
            align-items: center;
            position: fixed;
            background-color: rgb(15, 17, 17);
            top: 0px;
            left: 0px;
            right: 0px;
            height: 60px;
            column-gap: 10px;
            z-index: 200;
        }
        .logo {
            width: 125px;
            height: 40px;
            object-fit: cover;
            cursor: pointer;
            margin-left: -5px;
            margin-top: 2px;
        }
        .amz_logo {
            display: inline-block;
            padding-top: 4px;
            width: 115px;
            height: 40px;
            margin-left: 12px;
            margin-right: 4px;
        }
        .amz_logo:hover {
            border: 1px solid white;
            border-radius: 2px;
            margin-left: 11px;
            margin-right: 3px;
        }
        .search_section {
            display: flex;
            width: 730px;
            height: 60px;
            align-items: center;
        }
        .all {
            height: 42px;
            width: 50px;
            padding-left: 0;
            border: none;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            background-color: rgb(238, 230, 230);
            border-right: 1px solid rgb(218, 204, 204);
            cursor: pointer;
            margin-right: -50px;
            z-index: 100;
        }
        .all:hover {
            background-color: rgb(225, 213, 213);
        }
        .search-box {
            flex: 1;
            border: none;
            font-size: 15px;
            padding: 0;
            height: 42px;
            padding-right: 50px;
            border-radius: 5px;
            padding-left: 57px;
        }
        .search-box:focus {
            outline: none;
            outline: 3px solid rgb(243, 120, 13);
        }
        .search-btn {
            height: 42px;
            width: 50px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(255, 185, 35);
            margin-left: -50px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            cursor: pointer;
        }
        .search-btn:hover {
            background-color: rgb(240, 168, 14);
        }
        .search-icon {
            height: 28px;
        }
        .location {
            width: 20px;
            height: 20px;
        }
        .d{
            color: white;
            font-size: 12px;
        }
        .ind, .ind1 {
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
        .ind1 {
            display: inline-block;
            font-size: 15px;
        }
        .deliver {
            display: flex;
            align-items: end;
            justify-content: center;
            width: 76px;
            padding-bottom: 6px;
            padding-top: 7px;
            border-radius: 2px;
            margin-right: 5px;
            margin-left: 3px;
            cursor: pointer;
        }
        .deliver:hover {
            border: 1px solid white;
            margin-right: 4px;
            margin-left: 2px;
        }
        .right-section {
            display: flex;
            height: 60px;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
        }
        .signin {
            padding: 6px 7px;
            border-radius: 2px;
            cursor: pointer;
            margin-left: 12px;
            margin-right: 14px;
        }
        .signin:hover {
            border: 1px solid white;
            margin-left: 11px;
            margin-right: 13px;
        }
        .left-section {
            display: flex;
            height: 60px;
            align-items: center;
        }
        .cart {
            position: relative;
            padding: 2px 7px;
            border-radius: 2px;
            margin-left: 10px;
            cursor: pointer;
        }
        .cart:hover {
            border: 1px solid white;
            margin-left: 9px;
        }
        .item_no {
            position: absolute;
            font-size: 17px;
            font-weight: bold;
            top: 2px;
            right: 52px;
            color: rgb(247, 130, 12);
        }
        .btn-bar {
            display: flex;
               flex: 1;
            width: 100%;
            height: 38px;
            background-color: rgb(31, 49, 62);
        }
        .nav, .nav1 {
            color: white;
            border: none;
            height: 38px;
            background-color: rgb(31, 49, 62);
            border-radius: 2px;
            font-size: 0.9rem;
            padding-top: 0;
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 6px;
            margin-left: 6px;
            cursor: pointer;
        }
        .nav:hover, .nav1:hover {
            border: 1px solid white;
            margin-right: 5px;
            margin-left: 5px;
        }
        .nav1 {
            display: flex;
            align-items: center;
        }
        .menu {
            height: 32px;
        }
        .main_img {
            width: 100%;
            height: auto;
            -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
            mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
        }
        .amz_in {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            flex: 1;
            height: 40px;
            margin: 0px 20px 20px 20px;
            background-color: white;
            margin-top: -320px;
            font-size: 14px;
            z-index: 100;
        }
        .amz_ind {
            color: rgb(33, 98, 161);
            cursor: pointer;
        }
        .amz_ind:hover {
            color: rgb(6, 6, 97);
            text-decoration: underline;
        }
        .trending-items {
            display: flex;
            flex-direction: column;
            background-color: white;
            flex: 1fr;
            height: 285px;
            margin: 20px;
            padding-top: 20px;
            padding-left: 28px;
        }
        .trending-items1 {
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            margin-left: -10px;
        }
        .trending {
            height: 201px;
            cursor: pointer;
        }

